<div class="container-one">
    <h1 style= "color: rgb(61, 61, 61);" >{{title}}</h1>
        <div class="container-buttom-row">
            <div style="color: blue; font-size: 70px;"><b>{{num1}}</b></div>
            <button class="light_button" style="margin-top: 8px;">{{buttonName}}</button>
            <div style="margin-left: 10px; margin-top: 15px;"><span style="font-size : 15px;color: gray;"> {{total}}  <br> <div style="font-size: 30px; color: rgb(76, 75, 75);">{{num}}</div></span></div>
        </div>
</div>
