
.container-buttom-row{
    display: flex;
    flex-direction: row;
    
}
.light_button{
    background-color: #6DD0A5;
    color: white;
    height: 30px;
    width: 75px;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 8px;

}