<div class="container-one">
    <h1 style="color: rgb(61, 61, 61);"> {{title}} </h1>
        <div class="container-buttom-row">
            <div class="dot-green" ><b>{{temperture}}</b></div>
            <div class="container-bottom-row">
                <div style="margin-left: 30px; font-size : 35px;color: gray;"><img width="30px" height="25px" src={{upArrow}}>{{upperTemp}}</div><br>
                <hr class="add-hr">
                <div style="margin-left: 30px; font-size : 40px;color: gray;margin-left: 36px;"><img width="20px" height="30px" src={{lowerArrow}}>{{lowerTemp}}</div>
            </div>
        </div>
</div>
