<div class="container-one">
    <h1 style="color: rgb(61, 61, 61);"> {{title}} </h1>
        <div class="container-buttom-row">
            <div style="color: blue; font-size: 70px;"><b>{{num}}</b></div>
            <button class="audio_button" style="margin-top: 8px;">{{button}}</button>
            <div style="margin-left: 10px;margin-top: 15px;"><span style="font-size : 15px;color: gray;">{{total}}</span><br> <div style="font-size: 30px;color: grey;"><span style="font-size : 35px;color: rgb(76, 75, 75);">{{num2}}</span></div></div>
        </div>
</div>
