
<div class="container-one">
    <h1 style="color: rgb(61, 61, 61);">{{title}}</h1>
        <div class="container-buttom-row">
            <div style="color: blue; font-size: 70px;"><b>{{numb}}</b><span style="font-size: 20px;"><b>{{dinum}}</b></span></div>
            <div class="vl"></div>
            <div style="margin-left: 30px;margin-top: 35px;"><span style="font-size : 20px;color: gray; "> {{onTime}}<br><div style="font-size: 32px;color: rgb(76, 75, 75);" >{{seconds}}</div></span></div>
        </div>
</div>
